/** Bootstrap tweaks **/

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

/** Forms **/

/* Fiche edit form */
.fiche-edit textarea {
    margin-top: 9px;
    width: 100%;
}
.fiche-edit button[name="save"] {
    margin-left: 23%;       /* Cross devices ??? */
}

/** Menu **/

.sidebar-nav {
    height: 100%;
}

/** fiche list **/

/* TODO */

footer {
    height: 50px;
}
